<% provide(:title, t('main_title')) %>
<div class="left">
<h2>Jodel Stats is offline :(</h2>
<br>
<div class="row">
  <div class="col-md-12">
    <p class="big-text">I'm very sorry to announce that Jodel Stats is <b>offline</b> as of January 1, 2017.</p>
    <p class="big-text"><a href="">Read the official announcement!</a></p>
    <p class="big-text">If you'd like to keep in touch: <a href="http://twitter.com/ppati000">Twtter</a> |
    <a href="https://www.facebook.com/patrick.petrovic">Facebook</a></p>
    <p class=""
  </div>
</div>
</div>
